---
layout: default
---

<header id="post-header">
    <h4>Site description from Ken Beck.</h4>
</header>

{% if site.posts.size > 0 %}
    <div class="list-group">
        {% for post in site.posts limit: 10 %}
            <a href="{{ post.url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}<small> &ndash; <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %-d, %Y' }}</time></small></h4>
            </a>
        {% endfor %}
    </div>
    <a href="/blog/" class="pull-right">more</a>
{% else %}
    <p>No posts found.</p>
{% endif %}
