---
layout: default
title: Site Tags
---

<header id="post-header">
    <h1 id="post-title">Tags</h1>
</header>

<div id="post-content">
    {% if site.data.tags %}
        {% assign tags = site.data.tags | sort: 'name' %}
        {% for data_tag in tags %}
            <section class="post">
                <header class="post-header">
                    <h4 class="post-title"><a href="/blog/tag/{{ data_tag.slug }}/">{{ data_tag.name }}</a></h4>
                </header>
                <div class="clearfix"></div>
            </section>
        {% endfor %}
    {% else %}
        <p>No tags found.</p>
    {% endif %}
</div>
