<!doctype html>
<html>
 <head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="chrome=1">
 <title>{{ page.title }}</title>

 <link rel="stylesheet" href="/stylesheets/styles.css">
 <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
 <script src="/javascripts/scale.fix.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 <!--[if lt IE 9]>
 <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
 </head>
 <body>
 <div class="wrapper">
 <header>
 <h1 class="header">Couth</h1>
 <p class="header"></p>
 <ul>
 <li><a class="buttons github" href="https://github.com/couthcommander">GitHub Profile</a></li>
 </ul>
 </header>
 <section>By {{ page.author }}</section>
 <section>
   {{ content }}
 </section>
 <footer>
Tags:
{% for tag in page.tags %}
<a href='/{{ tag }}'>{{ tag }}</a>
{% endfor %}
 </footer>
 </div>
 <!--[if !IE]><script>fixScale(document);</script><![endif]-->

 </body>
</html>
